- include_stylesheet('admin/reader')
- render_region :main do |main|
  - main.edit_header do
    %h1= t('invite_a_reader')
    %p= t('invitation_description')
  - main.edit_form do
    = render :partial => 'form'
